*
/*to vse odmike itd da na nulo*/
{
margin: 0;
padding: 0;
}

body
	{
		/*barva ozadja za celo sran*/
		background-color: #ff00bf;

		/*vrsta pisave */
		font-family: serif, arial; 
		/*visina crk */
		font-size: 16px; 
		/*moc pisave ... un aj mocno crn itd */
		font-weight: bold; 

		/*razmak med vrsticam */
		line-height: 1.6em; 

		
	}
.container
	{
		/*procent sirine zaslona zato da se ob minimiranju skrc*/
		width: 80%; 
		/*margin auto pomen da automatsk center da*/
		margin: auto;
	}
.test-1
	{
		/*barva ozadja v okvircku*/
		background-color: #ff80df;
		
		/*barva crk v okvircku*/
		color: #000080;

		/* to je  obroba 1. širina obrobe 2. barva obrobe 3. stil obrobe */
		border-left: 5px #ff0000 dotted; 
		border-right: 5px #ff0000 dotted;
		border-top: 3px #ff0000 solid;
		border-bottom: 3px #ff0000 solid;
		/*to je kok od obrobe so crke umaknene*/
		padding: 10px;
		padding-top: 20px;
		
		margin-top: 30px;
		
	}